---
// components
import Heading from "@/components/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "@/components/Link";
---

<BaseLayout
  title="Astro Code Review"
  description="Submit your Astro site for a live code review."
>
  <div class="grid place-items-center place-content-center gap-6">
    <Heading tagType="h1" size="lg" classes="fade-in shift-up">
      404 - Page Not Found
    </Heading>

    <Link href="/">Go Home</Link>
  </div>
</BaseLayout>
