---
import BaseLayout from "@/layouts/BaseLayout.astro";

// db
import { db, Review } from "astro:db";

// actions
import { actions, getActionProps } from "astro:actions";

// components
import Heading from "@/components/Heading.astro";
import Button from "@/components/ui/Button.astro";
import ReviewHeaderRow from "@/components/ReviewHeaderRow.astro";
import ReviewRow from "@/components/ReviewRow";

const reviews = await db.select().from(Review);

if (Astro.request.method === "POST") {
  Astro.redirect("/");
}
---

<BaseLayout
  title="Astro Code Review"
  description="Submit your Astro site for a live code review."
>
  <section
    class="grid place-items-center content-center gap-4 sm:gap-6 text-center px-4"
    aria-label="Admin Page"
  >
    <div class="fade-in shift-up">
      <Heading tagType="h1" size="lg" classes="fade-in shift-up">
        Admin Page
      </Heading>

      <div class="grid gap-2">
        <ReviewHeaderRow
          item={{
            name: "Name",
            demoUrl: "Demo Link",
            repoUrl: "Repo Link",
            featured: "Featured",
            isReviewed: "Reviewed",
          }}
        />
        {reviews.map((item) => <ReviewRow client:load item={item} />)}
      </div>
    </div>
    <form>
      <input {...getActionProps(actions.logout)} />
      <Button type="submit">Logout</Button>
    </form>
  </section>
</BaseLayout>
