---
import { Image } from "astro:assets";

// image imports
import courseIcon from "@/assets/astro-course-icon.png";

// components
import Heading from "@/components/Heading.astro";
import SignupForm from "@/components/SignupForm";
import Note from "./Note.astro";
---

<section
  class="grid place-items-center content-center gap-4 sm:gap-6 text-center px-4"
  aria-label="Submit website for review form"
>
  <Image
    src={courseIcon}
    alt="Astro icon for course"
    class="fade-in shift-up w-28 sm:w-40"
  />
  <Heading tagType="h1" size="lg" classes="fade-in shift-up">
    Astro Code Review
  </Heading>
  <p class="fade-in shift-up max-w-prose text-balance">
    Submit your Astro website for review! Only accepting published sites with
    public repos.
  </p>
  <div class="fade-in shift-up">
    <SignupForm client:load />
  </div>
  <Note class="fade-in shift-up max-w-prose text-balance mb-10"
    >Submitting does not gaurantee a code review.</Note
  >
</section>
